<a href="https://colab.research.google.com/github/Rohithgudipati/Assignment/blob/master/PHN_Task_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Read the car model and specification data from CSV file 
car_spec_df = pd.read_csv("/content/sample_data/PHN_Task_01/Sample Data_1.csv")

# Read the car pricing and loan data from Excel file
car_loan_df = pd.read_excel("/content/sample_data/PHN_Task_01/Sample_Data_2.xlsx")

# Merge the two data frames on the basis of Company Name and Model Name
merged_df = pd.merge(car_spec_df, car_loan_df, on=['Company Name', 'Model Name'])

# Fill the NA values with 0
merged_df.fillna(0, inplace=True)

# Iterate over the merged data frame and add the GST value in the "On road pricing" column
for index, row in merged_df.iterrows():
    on_road_pricing = row['On road pricing']
    gst_value = on_road_pricing * 0.18
    merged_df.at[index, 'On road pricing'] = on_road_pricing + gst_value

# Print the merged data frame after adding GST value
print("Merged Data Frame after adding GST value:")
print(merged_df.head())

Merged Data Frame after adding GST value:
  Company Name  Model Name Fuel Type  Body Style  Car length  On road pricing  \
0        Honda       Civic    Petrol        Sedan     4649mm          2478000
1       Toyota     Corolla    Hybrid        Sedan     4620mm          2773000
2         Ford       F-150       Gas       Pickup     5890mm          6136000
3        Tesla     Model S        EV        Sedan     4978mm         17700000
4        Mazda  MX-5 Miata    Petrol  Convertible     3915mm          4130000

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal  \
0      1890000        31337           0.08              15686
1      2115000        35191           0.08              17595
2      4680000        77946           0.09              38973
3     13500000       224474           0.07             111272
4      3150000        52456           0.09              26228

   Monthly Interest
0             15651
1             17596
2             38973
3            113202
4             26228